<mat-toolbar color="primary" class="mat-toolbar"
  >Pesquisa de estoques</mat-toolbar
>

<mat-card-content>
  <form [formGroup]="stockFilterform">
    <div fxLayout="column" fxLayoutGap="20px">
      <div fxLayout="row" fxLayoutAlign="start">
        <mat-form-field fxFlex="10%">
          <mat-label>Cód</mat-label>
          <input
            matInput
            appNumericInput
            formControlName="id"
            type="text"
            maxlength="14"
          />
        </mat-form-field>

        <mat-form-field fxFlex="45%" class="rgv-ml-8">
          <mat-label>Nome</mat-label>
          <input
            matInput
            formControlName="name"
            type="text"
            [maxLength]="100"
            class="text-uppercase"
            oninput="this.value = this.value.toUpperCase()"
          />
        </mat-form-field>
        <mat-form-field fxFlex="45%" class="rgv-ml-8">
          <mat-label>Setor</mat-label>
          <input
            matInput
            formControlName="sector"
            type="text"
            [maxLength]="100"
            oninput="this.value = this.value.toUpperCase()"
            [matAutocomplete]="autoCompSector"
          />
          <mat-autocomplete
            #autoCompSector="matAutocomplete"
            [displayWith]="displayFnSector"
          >
            <mat-option
              *ngFor="let sector of sectors$ | async"
              [value]="sector"
            >
              {{ sector.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </form>
  <!-- <app-form-debug [form]="stockFilterform"></app-form-debug> -->

  <mat-card-actions [align]="'end'">
    <button mat-raised-button color="primary" (click)="search()">
      Pesquisar
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="cancel()"
      class="rgv-ml-8"
    >
      Cancelar
    </button>
  </mat-card-actions>
</mat-card-content>
