<mat-card>
  <mat-toolbar color="primary" class="mat-toolbar"
    >Cadastro de produtos</mat-toolbar
  >

  <mat-card-content>
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="start">
          <mat-form-field fxFlex="15%">
            <mat-label>Cód</mat-label>
            <input
              matInput
              appNumericInput
              formControlName="id"
              type="text"
              maxlength="14"
            />
          </mat-form-field>

          <mat-form-field fxFlex="85%" class="rgv-ml-8">
            <mat-label>Nome</mat-label>
            <input
              matInput
              formControlName="name"
              type="text"
              [maxLength]="100"
              oninput="this.value = this.value.toUpperCase()"
              #name
            />
            <mat-hint align="end">{{ name.value.length }} / 100</mat-hint>
          </mat-form-field>
          <mat-error
            *ngIf="form.get('name')?.invalid && form.get('name').touched"
          >
            {{ getErrorMessage("name") }}
          </mat-error>
        </div>
      </div>
    </form>

    <mat-card-actions [align]="'end'">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.valid === false">
        Salvar
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
