<mat-table [dataSource]="patientPage.content">

  <!-- CPF Column -->
  <ng-container matColumnDef="CPF">
    <mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
    <mat-cell *matCellDef="let patient">{{formatCpf(patient.cpf)}}</mat-cell>
  </ng-container>

  <!-- CPF Column -->
  <ng-container matColumnDef="Nome">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let patient">{{patient.name}}</mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="ações">
    <mat-header-cell *matHeaderCellDef class="action-column">
      <button mat-mini-fab color="accent" aria-label="Adicionar um paciente" (click)="onAdd()"
        class="action-column-header">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let patient" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar um paciente" (click)="onEdit(patient)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Remover um paciente" (click)="onDelete(patient)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator #paginator
  (page)="onPageInfo($event)" 
  [length]="patientPage.totalElements" 
  [pageSize]="patientPage.size"
  [pageIndex]="patientPage.number"
  [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
  [disabled]="false" 
  [showFirstLastButtons]="true"
  [hidePageSize]="false"
  aria-label="Select page">
</mat-paginator>
