<mat-card>
    <mat-toolbar color="primary" class="mat-toolbar">Saída para paciente</mat-toolbar>
    <form>
        <div class="grid-container">
            <div class="col-2">
                <mat-form-field class="field">
                    <input matInput placeholder="CPF">
                </mat-form-field>
            </div>
            <div class="col-10">
                <mat-form-field class="field">
                    <input matInput placeholder="Nome">
                </mat-form-field>
            </div>
        </div>

        <div class="grid-container">
            <div class="col-2">
                <mat-form-field class="field">
                    <input matInput placeholder="CNPJ">
                </mat-form-field>
            </div>
            <div class="col-10">
                <mat-form-field class="field">
                    <input matInput placeholder="Empresa">
                </mat-form-field>
            </div>
        </div>

        <div class="grid-container">
            <div class="col-2">
                <mat-form-field class="field">
                    <input matInput placeholder="Código">
                </mat-form-field>
            </div>
            <div class="col-10">
                <mat-form-field class="field">
                    <input matInput placeholder="Setor">
                </mat-form-field>
            </div>
        </div>

        <div class="grid-container">
            <div class="col-2">
                <mat-form-field class="field">
                    <input matInput placeholder="Código">
                </mat-form-field>
            </div>
            <div class="col-10">
                <mat-form-field class="field">
                    <input matInput placeholder="Estoque">
                </mat-form-field>
            </div>
        </div>

        <div class="grid-container">
            <div class="col-2">
                <mat-form-field class="field">
                    <input matInput placeholder="Código">
                </mat-form-field>
            </div>
            <div class="col-8">
                <mat-form-field class="field">
                    <input matInput placeholder="Medicamento">
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="field">
                    <input matInput placeholder="Quantidade">
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-card>