<table mat-table [dataSource]="materialPage.content">
  <caption *ngIf="false">
    Medicamentos
  </caption>
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef style="width: 20%">Código</th>
    <td mat-cell *matCellDef="let material">{{ material.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="width: 40%">Nome</th>
    <td mat-cell *matCellDef="let material">{{ material.name }}</td>
  </ng-container>

  <ng-container matColumnDef="expirationDate">
    <th mat-header-cell *matHeaderCellDef style="width: 10%">Validade</th>
    <td mat-cell *matCellDef="let material">
      {{ material.expirationDate | date : "dd/MM/yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="registrationDate">
    <th mat-header-cell *matHeaderCellDef style="width: 10%">Cadastro</th>
    <td mat-cell *matCellDef="let material">
      {{ material.registrationDate | date : "dd/MM/yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="ações">
    <mat-header-cell
      *matHeaderCellDef
      class="action-column"
      style="height: 100px"
    >
      <button
        mat-mini-fab
        color="accent"
        aria-label="Adicionar um paciente"
        (click)="eventCreate$.emit()"
        class="action-column-header"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let material" class="action-column">
      <button
        mat-icon-button
        color="primary"
        aria-label="Editar um paciente"
        (click)="eventUpdate$.emit(material.id)"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        color="warn"
        aria-label="Remover um paciente"
        (click)="eventDelete$.emit(material.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [length]="materialPage.totalElements"
  [pageSize]="materialPage.size"
  [pageIndex]="materialPage.number"
  [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
  [disabled]="false"
  [showFirstLastButtons]="true"
  [hidePageSize]="false"
  aria-label="Select page"
></mat-paginator>
