<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-12">
      <h3>Cadastro de pacientes</h3>
    </div>
  </div>
</div>

<div class="container-fluid">
  <form #form="ngForm" [formGroup]="patientNewForm" (submit)="salvar()"
    [ngClass]="{'was-validated': patientNewForm.touched}">
    <div class="row">

      <div class="form-group  col-sm-3">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" id="cpf" [maxLength]="14" formControlName="cpf" required autofocus />
        <app-vmessage text="Por favor, informe o CPF"
          *ngIf="patientNewForm.get('cpf').errors?.required && (form.submitted || patientNewForm.get('cpf').touched)">
        </app-vmessage>
      </div>

      <div class="form-group  col-sm-7">
        <label for="nome">Nome</label>
        <input type="text" class="form-control text-uppercase" id="nome" [maxLength]="100" formControlName="name" required />
        <app-vmessage text="Por favor, informe o Nome"
          *ngIf="patientNewForm.get('name').errors?.required && (form.submitted || patientNewForm.get('name').touched)">
        </app-vmessage>
        <app-vmessage
          *ngIf="patientNewForm.get('name').errors?.minlength && (form.submitted || patientNewForm.get('name').touched)"
          text="Deve possuir no mínimo 5 letras">
        </app-vmessage>
      </div>

      <div class="form-group  col-sm-2">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" id="telefone" [maxLength]="20" formControlName="phone" />
      </div>

    </div>

    <div class="row">

      <div class="form-group  col-sm-10">
        <label for="endereco">Endereço</label>
        <input type="text" class="form-control text-uppercase" id="endereco" [maxLength]="200" formControlName="addressName" />
      </div>

      <div class="form-group  col-sm-2">
        <label for="numero">Número</label>
        <input type="text" class="form-control" id="numero" [maxLength]="20" formControlName="number" />
      </div>

    </div>

    <div class="row">

      <div class="form-group  col-sm-4">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control text-uppercase" id="bairro" [maxLength]="20" formControlName="district" />
      </div>

      <div class="form-group  col-sm-8">
        <label for="complemento">Complemento</label>
        <input type="text" class="form-control text-uppercase" id="complemento" [maxLength]="50" formControlName="complement" />
      </div>

    </div>

    <button class="btn btn-primary mt-3" [disabled]="patientNewForm.invalid" type="submit">Salvar</button>
  </form>
  {{patientNewForm.pristine}}
  {{patientNewForm.touched}}
</div>
