<mat-toolbar color="primary" class="mat-toolbar"
  >Pesquisa de medicamentos</mat-toolbar
>

<mat-card-content>
  <form [formGroup]="productFilterform">
    <div class="grid-container">
      <div class="col-1">
        <mat-form-field class="field">
          <mat-label>Cód</mat-label>
          <input
            matInput
            appNumericInput
            formControlName="id"
            type="text"
            maxlength="14"
          />
        </mat-form-field>
      </div>

      <div class="col-10">
        <mat-form-field class="field">
          <mat-label>Nome</mat-label>
          <input
            matInput
            formControlName="name"
            type="text"
            [maxLength]="100"
            class="text-uppercase"
          />
        </mat-form-field>
      </div>
    </div>
  </form>

  <mat-card-actions [align]="'end'">
    <button mat-raised-button color="primary" (click)="search()">
      Pesquisar
    </button>
  </mat-card-actions>
</mat-card-content>
