<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-9">
      <h3>Pesquisa de pacientes</h3>
    </div>

    <div class="col-sm-3">
      <a class="btn btn-secondary mt-2" [routerLink]="['novo']">Cadastrar paciente</a>
    </div>

  </div>
</div>

<div class="container-fluid">
  <form [formGroup]="patientForm" (submit)="search()">

    <div class="row">
      <div class="form-group  col-sm-3">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" formControlName="cpf" id="cpf" mask="000.000.000-00" />
      </div>
    </div>

    <button class="btn  btn-primary mt-3" [disabled]="patientForm.invalid" type="submit">Pesquisar</button>
  </form>
</div>

<div class="container-fluid mt-3">
  <div *ngIf="showData; else dataNotFound">
    <dl class="row" style="margin-top: 40px;">
      <dt class="col-sm-2">CPF</dt>
      <dd class="col-sm-10">{{patient?.cpf | cpf}}</dd>

      <dt class="col-sm-2">Nome</dt>
      <dd class="col-sm-10">{{patient?.name | uppercase}}</dd>

      <dt class="col-sm-2">Endereço</dt>
      <dd class="col-sm-10">{{getAddress(patient?.address) | uppercase}}</dd>

      <dt class="col-sm-2">Telefone</dt>
      <dd class="col-sm-10">{{patient?.phone}}</dd>
    </dl>
    <a class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true" [routerLink]="[patient?.cpf, 'editar']">Editar</a>
  </div>

  <ng-template #dataNotFound>
    <div class="row" *ngIf="patientNotfoundActive">
      <div class="form-group  col-sm-12">
        <div class="alert alert-warning" role="alert">
          Paciente não encontrado
        </div>
      </div>
    </div>
  </ng-template>

</div>
