<mat-card>

    <mat-toolbar color="primary">Pesquisa de pacientes</mat-toolbar>
  
    <mat-card-content>
  
      <form [formGroup]="patientForm" class="min-width">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>CPF</mat-label>
          <input matInput type="text" mask="000.000.000-00" [validation]="false" formControlName="cpf">
        </mat-form-field>
      </form>
  
      <mat-card-actions class="actions-center">
        <button mat-raised-button color="primary" (click)="search()">Pesquisar</button>
        <button mat-raised-button  class="btn-space" (click)="newPatient()">
          Novo
        </button>
      </mat-card-actions>
  
    </mat-card-content>
  
  </mat-card>